*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
libs/*.jar
libs/*.*
dump
app/src/target.sh

# preprocessed stuff
app/src/main/java/eu/hn1f/holoui/KeyguardService.kt
app/src/main/java/eu/hn1f/holoui/StatusBarImpl.kt