<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    android:sharedUserId="android.uid.systemui"
    android:usesNonSdkApi="true"
    tools:ignore="Deprecated,ProtectedPermissions">

    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />

    <!-- Keyguard -->
    <uses-permission android:name="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" />
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />
    <uses-permission android:name="android.permission.TRUST_LISTENER" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC_INTERNAL" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RESET_FINGERPRINT_LOCKOUT" />
    <uses-permission android:name="android.permission.MANAGE_BIOMETRIC" />
    <uses-permission android:name="android.permission.MANAGE_SECURE_LOCK_DEVICE" />
    <uses-permission android:name="android.permission.MANAGE_SLICE_PERMISSIONS" />
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD_SECURE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.GET_RUNTIME_PERMISSIONS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <application
        android:name=".SystemUIApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SystemUI">
        <service
            android:name=".SystemUIService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".KeyguardService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".NotificationListener"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.Settings"
            android:exported="true"
            android:label="HoloUI Settings"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            tools:ignore="ExportedPreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recent.RecentsActivity"
            android:label="Recent Apps"
            android:theme="@style/RecentsStyle"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.systemui.TOGGLE_RECENTS" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".recent.RecentsPreloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.systemui.recent.action.PRELOAD" />
                <action android:name="com.android.systemui.recent.action.CANCEL_PRELOAD" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".activities.GoogleBalls"
            android:label="Google Balls"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" />
    </application>

</manifest>