<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    android:sharedUserId="android.uid.systemui"
    android:usesNonSdkApi="true"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="Deprecated">
    
    <uses-permission android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SystemUIApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SystemUI">

        <service android:name=".SystemUIService"
            android:exported="true"
            android:directBootAware="true"
            android:enabled="true"/>
        <service android:name=".KeyguardService"
            android:exported="true"
            android:directBootAware="true"
            android:enabled="true"/>

    </application>

</manifest>